 <table class="table table-striped table-dark my-2" style="width:100%">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Email</th>
			<th scope="col" style="text-align:center">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% if @friendships.size > 0 %>
		<% @friendships.each do |friend| %>
		<tr class="table-row">
			<td><%= friend.full_name %></td>
			<td><%= friend.email %></td>
			<td class="table-col" style="text-align:center">
				<%= link_to "Profile", user_path(friend), class: "button" %>
				<%= link_to "Unfriend", friendship_path(friend), method: :delete, class: "button -danger" %>
			</td>
		</tr>
		<% end %>
		<% else %>
			<tr>
				<th colspan="3" class="text-center">
					No friends added
				</th>
			</tr>
		<% end %>
	</tbody>
</table>
