.stock-card {
	& {
		@extend .card, .mb-3 ;
	}
	> .stock-body {
		@extend .card-body;
		display: flex;
		align-items: center;
	}
	> .stock-body > .info {

	}
	> .stock-body > .follow {
		& {
			@extend .btn, .btn-sm, .btn-primary;

			margin-left: auto;
			margin-right: 1rem;
			width: 75px;
			height: 30px;
		}
		&.-added {
			@extend .btn-success;
		}
		&.-disable {
			@extend .disabled;
		}
	}

}
