<footer class="footer">
  <a href="https://www.linkedin.com/in/eportet/" class="item fa fa-linkedin fa-2x" title="LinkedIn!"></a>
	<a href="https://twitter.com/eportet" class="item fa fa-twitter fa-2x" title="Twitter!"></a>
	<a href="https://github.com/eportet/stock-tracker" class="item fa fa-github fa-2x" title="Repo for this page!"></a>
	<a href="mailto:eportet@bu.edu" class="item fa fa-pencil fa-2x" title="Email Me!"></a>
</footer>
