<footer class="text-center py-3">
  <a href="https://www.linkedin.com/in/eportet/" class="fa fa-linkedin fa-lg" title="LinkedIn!"></a> |
	<a href="https://twitter.com/eportet" class="fa fa-twitter fa-lg" title="Twitter!"></a> |
	<a href="https://github.com/eportet/stock-tracker" class="fa fa-github fa-lg" title="Repo for this page!"></a> |
	<a href="mailto:eportet@bu.edu" class="fa fa-envelope fa-lg" title="Email Me!"></a>
</footer>
